<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Recognition App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <h1>Fruit Recognition App</h1>

        <form action="/predict" method="POST" enctype="multipart/form-data">

            <label for="fruit_image" class="upload-box" id="upload-box">
                <p>Drag & Drop Image Here</p>

                <p>or click to browse</p>

                <input type="file" name="fruit_image" id="fruit_image" accept="image/*">
            </label>
            <p id="error-message"></p>

            <!-- Image Preview -->
            <div class="preview-container">
                <img id="preview-image" src="#" alt="Image Preview">
            </div>

            <button type="submit">Predict Fruit</button>
        </form>

        {% if prediction %}
            <div class="result">
                <h2>Prediction: {{ prediction }}</h2>
                
                <h3>Confidence: {{ confidence }}%</h3>

                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ confidence }}%;"></div>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="note-box">
        <strong>Note:</strong>
        This model is trained only on 4 fruits:
        Apple, Banana, Grapes, and Mango.
        <br><br>
        The dataset used is limited, so prediction accuracy may vary for real-world images.
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>